{% extends 'base.html' %}
{% block content %}
{% load static %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
<section class="dark:bg-principal mt-20">
    <div class="text-center" data-aos="fade" data-aos-delay="200">
        <div class="sm:pt-28 lg:pt-24">
            <div class="flex flex-col items-center justify-center">
                <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
                    {{ title1 }}
                </span>
            </div>
            <h1 class="dark:text-white text-4xl  text-center mt-6 font-Pacifico">
                {{ title2 }}
            </h1>
            <p class="dark:text-gray-400 text-center mt-6 text-lg font-light">
                Complete el formulario para guardar un nuevo proveedor.
            </p>
        </div>
        <form method="post" enctype="multipart/form-data" class="space-y-6 py-4">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mx-4 lg:mx-20" data-aos="fade">
                <!-- Columna de la izquierda -->
                <div class="bg-white dark:bg-secundario rounded-3xl flex flex-col justify-center items-center p-8"
                    data-aos="fade-right" data-aos-delay="200">
                    <div class="w-[60%] text-center">
                        <h2 class="dark:text-blue-300 text-2xl text-center mt-6 font-Pacifico">Imagen de Proveedor
                        </h2><br>
                        <div id="imagenPreview">
                            {% if form.image.value %}
                            <img id="imagenSeleccionada" src="{{ form.image.value.url }}"
                                class="mx-auto d-block rounded-lg" alt="Imagen de Proveedor">
                            {% else %}
                            <img id="imagenSeleccionada" src="{% static 'img/default_supplier.jpg' %}"
                                class="mx-auto d-block rounded-lg" alt="Imagen de Proveedor por defecto">
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-center w-auto m-4">
                        <label for="{{ form.image.id_for_label }}"
                            class="dark:text-blue-300 font-black uppercase text-lg">{{ form.image.label }}</label>
                        {{ form.image }}
                    </div>
                </div>
                <!-- Columna de la derecha -->
                <div class="p-4 rounded-3xl dark:bg-secundario bg-white flex flex-col justify-center items-center"
                    data-aos="fade-right" data-aos-delay="200">
                    {% csrf_token %}
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div>
                            <div class="mb-8">
                                <label for="{{ form.name.id_for_label }}"
                                    class="dark:text-blue-300 font-black uppercase text-lg">{{ form.name.label }}</label>
                                {{ form.name }}
                            </div>
                            <div class="mb-8">
                                <label for="{{ form.address.id_for_label }}"
                                    class="dark:text-blue-300 font-black uppercase text-lg">{{ form.address.label }}</label>
                                {{ form.address }}
                            </div>
                        </div>
                        <div>
                            <div class="mb-8">
                                <label for="{{ form.ruc.id_for_label }}"
                                    class="dark:text-blue-300 font-black uppercase text-lg">{{ form.ruc.label }}</label>
                                {{ form.ruc }}
                            </div>
                            <div class="mb-8">
                                <label for="{{ form.phone.id_for_label }}"
                                    class="dark:text-blue-300 font-black uppercase text-lg">{{ form.phone.label }}</label>
                                {{ form.phone }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-8 flex flex-col justify-center items-center">
                        <label for="{{ form.state.id_for_label }}"
                            class="dark:text-blue-300 font-black uppercase text-lg">{{ form.state.label }}</label>
                        {{ form.state }}
                    </div>
                    <div class="flex flex-col md:flex-row justify-center">
                        <button type="submit"
                            class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-0 md:mr-2 mb-2 md:mb-0 flex items-center">
                            <i class="fa-solid fa-save mr-2"></i>Guardar
                        </button>
                        <a class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full flex items-center"
                            href="{% url 'core:supplier_list' %}">
                            <i class="fa-solid fa-xmark mr-2"></i>Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    const imagenInput = document.getElementById('{{ form.image.id_for_label }}');
    const imagenSeleccionada = document.getElementById('imagenSeleccionada');

    imagenInput.addEventListener('change', function() {
        const file = imagenInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imagenSeleccionada.src = e.target.result;
            }
            reader.readAsDataURL(file);
        } else {
            '{% if form.image.value %}'
            imagenSeleccionada.src = "{{ form.image.value.url }}";
            '{% else %}'
            imagenSeleccionada.src = "{% static 'img/default_product.png' %}";
            '{% endif %}'
        }
    });
</script>

{% endblock content %}
