{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %} SGV - Crear Proveedores {% endblock title %}</title>

<section id="home-modulos" class="mt-16 flex justify-center items-center" data-aos="fade-up" data-aos-delay="200">
    <div class="container text-center">
        <div class="flex justify-center">
            <div class="w-full lg:w-8/12">
                <div class="module-head mb-8">
                    <h2 class="text-3xl font-bold text-center">{{ title2 }}</h2>
                    <p class="mt-2">Complete el formulario para registrar un nuevo proveedor en el sistema.</p>
                </div>
            </div>
        </div>
        <div class="form-container">
            <form id="supplier-form" method="post" enctype="multipart/form-data" class="space-y-6">
                {% csrf_token %}
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <div class="md:col-span-6">
                            <div class="mb-4">
                                <label for="{{ form.name.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.name.label }}</label>
                                {{ form.name }}
                            </div>
                            <div class="mb-4">
                                <label for="{{ form.address.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.address.label }}</label>
                                {{ form.address }}
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <div class="mb-4">
                            <label for="{{ form.ruc.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.ruc.label }}</label>
                            {{ form.ruc }}
                        </div>
                        <div class="mb-4">
                            <label for="{{ form.phone.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.phone.label }}</label>
                            {{ form.phone }}
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="{{ form.image.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.image.label }}</label>
                    {{ form.image }}
                </div>
                <div class="form-group">
                    <label for="{{ form.state.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.state.label }}</label>
                    {{ form.state }}
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <i class="fa-solid fa-user-plus mr-2"></i>Guardar
                    </button>
                    <a href="{% url 'core:supplier_list' %}" class="inline-flex items-center justify-center px-4 py-2 ml-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                        <i class="fa-solid fa-xmark mr-2"></i>Cancelar
                    </a>
                </div>
            </form>
        </div>
        <br><br>
        <hr>
        </div>

</section>

<!-- <script src="{% static 'js/validaciones.js' %}"></script> -->
{% endblock content %}
