{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<title>{% block title %} SGV - Crear Productos {% endblock title %}</title>

<section class="dark:bg-slate-900 mt-10 flex justify-center">
    <div class="text-center" data-aos="fade-up" data-aos-delay="200">
        <div class="flex justify-center">
            <div class="w-full lg:w-8/12">
                <div class="mb-4">
                    <h1 class="dark:text-white text-4xl text-center mt-6 font-black uppercase"><br>
                        {{ title2 }}
                    </h1>
                    <p class="mt-2">Complete el formulario para registrar un nuevo producto en el sistema.</p>
                </div>
            </div>
        </div>
        <div class="m-4 dark:bg-black bg-white  p-8 rounded-3xl border-spacing-1">
            <form method="post" enctype="multipart/form-data" class="space-y-6">
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                    <div>
                        <div class="mb-8">
                            <label for="{{ form.description.id_for_label }}" class="dark:text-white  font-black uppercase text-lg">{{ form.description.label }}</label>
                            {{ form.description }}
                        </div>
                        <div class="mb-8">
                            <label for="{{ form.brand.id_for_label }}" class="dark:text-white  font-black uppercase text-lg">{{ form.brand.label }}</label>
                            {{ form.brand }}
                        </div>
                        <div class="mb-8">
                            <label for="{{ form.supplier.id_for_label }}" class="dark:text-white  font-black uppercase text-lg">{{ form.supplier.label }}</label>
                            {{ form.supplier }}
                        </div>
                    </div>
                    <div>
                        <div class="mb-8">
                            <label for="{{ form.price.id_for_label }}" class="dark:text-white  font-black uppercase text-lg">{{ form.price.label }}</label>
                            {{ form.price }}
                        </div>
                        <div class="mb-8">
                            <label for="{{ form.expiration_date.id_for_label }}" class="dark:text-white  font-black uppercase text-lg">{{ form.expiration_date.label }}</label>
                            {{ form.expiration_date }}
                        </div>
                        <div class="mb-8">
                            <label for="{{ form.line.id_for_label }}" class="dark:text-white  font-black uppercase text-lg">{{ form.line.label }}</label>
                            {{ form.line }}
                        </div>
                    </div>
                    <div>
                        <div class="mb-8">
                            <label for="{{ form.stock.id_for_label }}" class="dark:text-white  font-black uppercase text-lg">{{ form.stock.label }}</label>
                            {{ form.stock }}
                        </div>
                        <div class="mb-8">
                            <label for="{{ form.categories.id_for_label }}" class="dark:text-white  font-black uppercase text-lg">{{ form.categories.label }}</label>
                            {{ form.categories }}
                        </div>
                    </div>
                </div>
                <div class="mb-8 mx-auto w-1/2">
                    <label for="{{ form.image.id_for_label }}" class="dark:text-white  font-black uppercase text-lg">{{ form.image.label }}</label>
                    {{ form.image }}
                </div>
                <div class="mb-8 flex flex-col justify-center items-center">
                    <label for="{{ form.state.id_for_label }}" class="dark:text-white  font-black uppercase text-lg">{{ form.state.label }}</label>
                    {{ form.state }}
                </div>
                <div class="flex justify-center">
                    <button type="submit" class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-2 flex items-center">
                        <i class="fa-solid fa-save mr-2"></i>Guardar
                    </button>
                    <a class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full flex items-center" href="{% url 'core:product_list' %}">
                        <i class="fa-solid fa-xmark mr-2"></i>Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- <script src="{% static 'js/validaciones.js' %}"></script> -->
{% endblock content %}
