{% extends 'base.html' %}
{% block content %}
{% load static %}
<title>{% block title %} SGV - Productos {% endblock title %}</title>

<section id="home-modulos" class="mt-4 d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
    <div class="container text-center">
        <div class="row">
            <!-- Mensaje de bienvenida a la izquierda -->
            <div class="col-lg-12">
                <div class="module-head">
                    <h2 class="title text-center">{{ title2 }}</h2>
                    <p>Administra tu inventario con facilidad y precisión gracias a nuestro sistema de consulta de productos.</p>
                </div>
            </div>
            <div class="module-cards">
                <div class="row">
                    {% for item in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card card-custom">
                            <div class="card-header">
                                <h2 class="card-title">{{ item.description }}</h2>
                            </div>
                            <div class="card-body">
                                <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/default_product.png' %}{% endif %}" alt="Imagen del producto"></img>
                                <h3>Creación: <span class="info">{{ item.created | date:"Y-m-d" }}</span></h3>
                                <h3>Precio: <span class="info">{{ item.price }}</span></h3>
                                <h3>Stock: <span class="info">{{ item.stock }}</span></h3>
                                <h3>Marca: <span class="info">{{ item.brand }}</span></h3>
                                <h3>Categoría: <span class="info">{{ item.get_categories }}</span></h3>
                                <h3>Proveedor: <span class="info">{{ item.supplier }}</span></h3>
                                <h3>Línea: <span class="info">{{ item.get_line_display }}</span></h3>
                                <h3>Fecha de expiración: <span class="info"><br>{{ item.expiration_date | date:"Y-m-d" }}</span></h3>
                                <h3>
                                    Estado: 
                                    {% if item.state %}
                                    <i class="fa-solid fa-check" style="color: green;"></i>
                                    {% else %}
                                    <i class="fa-solid fa-square-minus" style="color: red;"></i>
                                    {% endif %}
                                </h3>
                            </div> 
                            <div class="card-footer">
                                <a href="{% url 'core:product_update' item.id %}" class="btn btn-update"><i class="fa-solid fa-gear"></i> Editar</a>
                                <a class="btn btn-cancel" onclick="confirmDelete({{ item.id }})"><i class="fa-solid fa-trash"></i> Eliminar</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group text-center mt-4">
                    <a class="btn btn-details" href="{% url 'core:product_create' %}"><i class="fa-solid fa-boxes-packing"></i> Nuevo producto </a>
                    <a class="btn btn-details" href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function confirmDelete(itemId) {
        DarkSwal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = `{% url 'core:product_delete' id=0 %}`.replace('0', itemId);
                const csrfToken = document.createElement('input');
                csrfToken.type = 'hidden';
                csrfToken.name = 'csrfmiddlewaretoken';
                csrfToken.value = '{{ csrf_token }}';
                form.appendChild(csrfToken);
                document.body.appendChild(form);
                
                // Mostrar mensaje de éxito
                DarkSwal.fire({
                    title: '<span class="success-title">¡Éxito!</span>',
                    text: 'Se eliminó al producto correctamente.',
                    icon: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    // Envía el formulario después de confirmar el mensaje de éxito
                    form.submit();
                });
            }
        });
    }
</script>
{% endblock content %}
