{% extends 'base.html' %}
{% load static %}
<title>{% block title %} SGV - Home {% endblock title %}</title>
{% block content %}

<section>
    {% if not user.is_authenticated %}
    <!-- Modal -->
    <div id="modal-home" class="fixed inset-0 flex items-center justify-center z-50 modal-overlay">
        <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-sm"></div>
        <div
            class="bg-white mx-4 my-4 p-4 sm:mx-8 sm:my-8 sm:p-6 md:mx-10 md:my-10 md:p-8 lg:mx-12 lg:my-12 lg:p-10 xl:mx-16 xl:my-16 xl:p-12 rounded-2xl z-10 max-w-7xl w-full">
            <div class="text-center">
                <h2 class="text-2xl md:text-3xl text-title2 uppercase font-black my-2">PERFILES</h2>
                <p class="text-sm md:text-base">Selecciona tu perfil para iniciar sesión:</p>
                <h2 class="text-2xl md:text-3xl text-title2 uppercase font-black my-2">TeacherCode <i
                        class="fa-solid fa-ghost"></i></h2>
                <p class="text-sm md:text-base">Accede a funcionalidades específicas.</p>
                <div class="grid gap-6 sm:gap-8 md:gap-10 lg:grid-cols-3 rounded-3xl">
                    <div class="bg-primary rounded-3xl p-6 md:p-8 custom-transform flex flex-col justify-between">
                        <div class="flex-grow">
                            <i class="fas fa-user text-3xl md:text-4xl text-title mb-4"></i>
                            <h2 class="text-xl md:text-2xl text-title2 uppercase font-black my-2">Cliente</h2>
                            <p class="text-sm md:text-base">Da gestión de seguimiento a tus compras y ventas.</p>
                        </div>
                        <div class="text-center mt-4">
                            <a class="btn-dark-blue" href="{% url 'signin' %}" id="btnCliente">Ingresar</a>
                        </div>
                    </div>
                    <div class="bg-primary rounded-3xl p-6 md:p-8 custom-transform flex flex-col justify-between">
                        <div class="flex-grow">
                            <i class="fas fa-user-tie text-3xl md:text-4xl text-title mb-4"></i>
                            <h2 class="text-xl md:text-2xl text-title2 uppercase font-black my-2">Administrador</h2>
                            <p class="text-sm md:text-base">Gestiona las categorías, marcas y proveedores de tus
                                productos.</p>
                        </div>
                        <div class="text-center mt-4">
                            <a class="btn-dark-blue" href="{% url 'signin' %}" id="btnAdministrador">Ingresar</a>
                        </div>
                    </div>
                    <div class="bg-primary rounded-3xl p-6 md:p-8 custom-transform flex flex-col justify-between">
                        <div class="flex-grow">
                            <i class="fas fa-user-secret text-3xl md:text-4xl text-title mb-4"></i>
                            <h2 class="text-xl md:text-2xl text-title2 uppercase font-black my-2">Invitado</h2>
                            <p class="text-sm md:text-base">Revisa las diversas funciones de nuestro sistema.</p>
                        </div>
                        <div class="text-center mt-4">
                            <a class="btn-dark-blue" href="{% url 'home' %}" id="btnModoInvitado">Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Cierre del Modal -->

    <!-- Contenedor principal -->
    <section
        class="flex flex-col lg:flex-row mx-4 my-20 sm:mx-8 sm:my-8 lg:mx-20 lg:my-28 items-center"
        data-aos="fade-up">
        <!-- Mensaje de bienvenida a la izquierda -->
        <div class="w-full lg:w-1/2 mx-8 my-8 sm:mx-8 sm:my-12 lg:m-8 mb-8 lg:mb-0" data-aos="fade-right">
            <div class="bg-white rounded-lg shadow-lg p-4 custom-transform">
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <p>Bienvenido, <span class="text-titleHover font-semibold">@{{ user.username }}</span>.
                    <i class="fa-solid fa-toolbox text-title"></i>
                </p>
                {% else %}
                <p>Bienvenido, <span class="text-titleHover font-semibold">@{{ user.username }}</span>.
                    <i class="fa-solid fa-user text-title"></i>
                </p>
                {% endif %}
                {% else %}
                <p>Bienvenido, <span class="text-titleHover font-semibold">usuario anónimo</span>.
                    <i class="fa-solid fa-user-secret text-title"></i>
                </p>
                {% endif %}
                <h2 class="text-2xl md:text-3xl text-title2 uppercase font-black my-2">¡Explora nuestro increíble
                    sistema!</h2>
                <p>Te invitamos a descubrir un mundo de múltiples posibilidades y beneficios, con el objetivo de
                    optimizar tu emprendimiento al siguiente nivel.</p>
                <br>
                <a href="#information">
                    <button class="btn-dark-blue">
                        Explorar
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </a>
            </div>
        </div>
        <!-- Carrusel de imágenes a la derecha -->
        <div class="hidden lg:flex w-full lg:w-1/2 lg:h-auto lg:items-center lg:justify-center lg:mx-8"
            data-aos="fade-left">
            <div
                class="rounded-3xl overflow-hidden shadow-lg transform transition-transform duration-300 hover:scale-105 w-full max-w-lg">
                <div id="carousel" class="relative overflow-hidden">
                    <div id="carousel-inner" class="flex">
                        <!-- Las imágenes se agregarán aquí dinámicamente -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cierre del contenedor principal -->

    <!-- Información -->
    <section id="information" class="flex flex-col my-8 sm:my-8 lg:my-10 lg:py-20 bg-blue-300" data-aos="fade-up"
        data-aos-delay="300">
        <div class="flex-row space-y-4 m-8 p-4 sm:mx-8 sm:my-12 lg:m-4 lg:mx-60 lg:p-4 text-center bg-slate-100 rounded-3xl ">
            <h2 class="text-title2 text-4xl font-black uppercase mb-2">Impulsa tu Negocio</h2>
            <p>
                Nuestro sistema ofrece las herramientas necesarias para maximizar el potencial de tu negocio.
            </p>
        </div>
        <div class=" m-8 sm:mx-40 sm:my-2 lg:grid lg:grid-cols-3 gap-8 lg:mx-20 lg:p-4 rounded-3xl" data-aos="fade-up" data-aos-delay="300">
            <div class="information-card mb-4">
                <i class="fas fa-chart-line text-4xl text-title mb-4"></i>
                <h3 class="information-card-title">Optimizar tus operaciones</h3>
                <p>
                    Aumenta la eficiencia de tu equipo con herramientas automatizadas y análisis detallados.
                </p>
                <div class="flex justify-center items-center h-full">
                    <img class="hidden lg:flex information-card-img" src="{% static 'img/home-info/client-1.jfif' %}" alt="Image">
                </div>
            </div>
            <div class="">
                <div class="information-card mb-4">
                    <i class="fas fa-cogs text-4xl text-title"></i>
                    <h3 class="information-card-title">Aumentar tus ventas</h3>
                    <p>
                        Realiza ventas identificando nuevas oportunidades de negocio y cerrando más acuerdos.
                    </p>
                </div>
                <div class="information-card mb-4">
                    <i class="fas fa-users text-4xl text-title"></i>
                    <h3 class="information-card-title">Satisfacción al cliente</h3>
                    <p>
                        El cliente recibe un servicio personalizado y una atención excepcional.
                    </p>
                </div>
            </div>
            <div class="information-card mb-4">
                <i class="fas fa-balance-scale text-4xl text-title mb-4"></i>
                <h3 class="information-card-title">Gestionar tus finanzas</h3>
                <p>
                    Administra tus finanzas de manera eficiente y toma decisiones informadas con análisis
                    financieros detallados sobre los productos.
                </p>
                <div class="flex justify-center items-center h-full">
                    <img class="hidden lg:flex information-card-img" src="{% static 'img/home-info/client-2.jfif' %}" alt="Image">
                </div>
            </div>
        </div>
    </section>
    <!-- Cierre del contenedor información -->

    <!-- Caracteristicas -->
    <section class="mx-4 my-12 sm:mx-8 sm:my-12 lg:my-10 lg:py-20" data-aos="fade-up" data-aos-delay="300">
        <div class="m-4 sm:mx-8 sm:my-12 lg:m-4 lg:p-4 text-center bg-gray-100 rounded-3xl">
            <h2 class="text-title2 text-3xl lg:text-4xl font-black uppercase mb-2">Características </h2>
            <p>Te ofrecemos múltiples beneficios.</p>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-8 lg:mx-28 lg:p-4 rounded-3xl" data-aos="fade-up" data-aos-delay="300">
            <!-- Card 1 -->
            <div
                class="characteristics-card bg-gray-200 hover:bg-gradient-to-r hover:from-green-400 hover:to-blue-500 transition duration-500">
                <i class="fas fa-users text-3xl text-green-500"></i>
                <h3 class="characteristics-card-title"><a href="">Dar seguimiento de sus proveedores</a></h3>
            </div>
            <!-- Card 2 -->
            <div
                class="characteristics-card bg-gray-200 hover:bg-gradient-to-r hover:from-purple-400 hover:to-pink-500 transition duration-500">
                <i class="fas fa-tv text-3xl text-purple-500 "></i>
                <h3 class="characteristics-card-title"><a href="">Interfaz Minimalista</a></h3>
            </div>
            <!-- Card 3 -->
            <div
                class="characteristics-card bg-gray-200 hover:bg-gradient-to-r hover:from-yellow-400 hover:to-red-500 transition duration-500">
                <i class="fas fa-clock text-3xl text-yellow-500 "></i>
                <h3 class="characteristics-card-title"><a href="">Disponibilidad 24/7</a></h3>
            </div>
            <!-- Card 4 -->
            <div
                class="characteristics-card bg-gray-200 hover:bg-gradient-to-r hover:from-blue-400 hover:to-indigo-500 transition duration-500">
                <i class="fas fa-shopping-cart text-3xl text-blue-500 "></i>
                <h3 class="characteristics-card-title"><a href="">Gestiona tus Ventas y Compras</a></h3>
            </div>
            <!-- Card 5 -->
            <div
                class="characteristics-card bg-gray-200 hover:bg-gradient-to-r hover:from-red-400 hover:to-purple-500 transition duration-500">
                <i class="fas fa-check-circle text-3xl text-red-500 "></i>
                <h3 class="characteristics-card-title"><a href="">Servicios Garantizados</a></h3>
            </div>
            <!-- Card 6 -->
            <div
                class="characteristics-card bg-gray-200 hover:bg-gradient-to-r hover:from-teal-400 hover:to-cyan-500 transition duration-500">
                <i class="fas fa-shield-alt text-3xl text-teal-500 "></i>
                <h3 class="characteristics-card-title"><a href="">Aplicación Segura</a></h3>
            </div>
            <!-- Card 7 -->
            <div
                class="characteristics-card bg-gray-200 hover:bg-gradient-to-r hover:from-pink-400 hover:to-orange-500 transition duration-500">
                <i class="fas fa-users text-3xl text-pink-500 "></i>
                <h3 class="characteristics-card-title"><a href="">Contacto con los administradores</a></h3>
            </div>
            <!-- Card 8 -->
            <div
                class="characteristics-card bg-gray-200 hover:bg-gradient-to-r hover:from-indigo-400 hover:to-purple-500 transition duration-500">
                <i class="fas fa-moon text-3xl text-indigo-500 "></i>
                <h3 class="characteristics-card-title"><a href="">Implementación del modo oscuro</a></h3>
            </div>
        </div>
    </section>
    <!-- Cierre del contenedor caracteristicas -->

    <!-- Nosotros -->
    <section class="py-12 lg:my-10 lg:mx-full lg:py-20 bg-titleHover" data-aos="fade-up" data-aos-delay="300">
        <div class="m-6 p-6 sm:mx-28 lg:mx-64 lg:p-4 text-center bg-slate-100 rounded-3xl">
            <h2 class="text-title2 text-4xl font-black uppercase mb-2">Equipo de trabajo </h2>
            <p>Conozca nuestro equipo de desarrollo.</p>
        </div>
        <div class="grid mx-4 sm:mx-12 lg:grid-cols-2 gap-8 lg:mx-20 lg:p-4 rounded-3xl" data-aos="fade-up" data-aos-delay="300">
            <div class="characteristics-card w-full">
                <div class="card-header">
                    <img class="information-card-img hidden lg:flex sm:flex" src="{% static 'img/home-team/team-1.jfif' %}"
                        alt="Image">
                </div>
                <div class="card-body">
                    <h2 class="characteristics-card-title text-2xl font-extrabold hover:text-title">STEVEN ALEXANDER
                        NIETO DURAN</h2>
                    <p class="characteristics-card-text my-2">
                        Jefe de Proyecto <i class="fa-solid fa-user-tie mx-2"></i><i class="fa-solid fa-briefcase"></i>
                        <br>
                        Programador <i class="fa-solid fa-user mx-2"></i><i class="fa-solid fa-laptop-code"></i>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/Alexis2024" target="_blank"><i
                            class="fa-brands fa-github text-3xl text-title hover:text-titleHover"></i></a>
                </div>
            </div>
            <div class="characteristics-card w-auto">
                <div class="card-header">
                    <img class="information-card-img hidden lg:flex sm:flex" src="{% static 'img/home-team/team-2.jfif' %}"
                        alt="Image">
                </div>
                <div class="card-body">
                    <h2 class="characteristics-card-title text-2xl font-extrabold hover:text-title">JAVIER OMAR HARO
                        SOLEDISPA</h2>
                    <p>
                        Jefe de Proyecto <i class="fa-solid fa-user-tie mx-2"></i><i class="fa-solid fa-briefcase"></i>
                        <br>
                        Programador <i class="fa-solid fa-user mx-2"></i><i class="fa-solid fa-laptop-code"></i>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/JaviOHS" target="_blank"><i
                            class="fa-brands fa-github text-3xl text-title hover:text-titleHover"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Cierre del contenedor nosotros -->

    <!-- Contacto -->
    <section class="flex flex-col mx-4 my-12 sm:mx-8 sm:my-12 lg:my-10 lg:py-20" data-aos="fade-up" data-aos-delay="300">
        <div class="lg:m-4 lg:p-4 text-center">
            <h2 class="text-title2 text-4xl font-black uppercase mb-2">contáctanos</h2>
            <p>Puedes enviarnos tus sugerencias.</p>
        </div>
        <div class="grid m-2 p-6 sm:grid-cols-2 sm:mx-4 lg:grid-cols-3 gap-8 lg:m-4 lg:p-4 rounded-3xl" data-aos="fade-up" data-aos-delay="500">
            <div class="px-6 py-10 bg-white rounded-3xl custom-transform">
                <div>
                    <h3 class="text-title2 text-2xl font-black mb-2">TeacherCode <i class="fa-solid fa-ghost"></i></h3>
                    <p>
                        "En nuestro corazón late el deseo ferviente de ser parte de tu éxito. Queremos ser el
                        impulso que
                        eleva tus sueños, la chispa que enciende tu visión.<br>
                        Confía en nosotros para ser tus aliados en esta travesía hacia el triunfo.<br>
                        Juntos, llevaremos tu negocio más allá de lo imaginable. Tu éxito es nuestro mayor logro."
                    </p>
                </div>
                <div class="flex space-x-4 mt-4">
                    <a href="#" class="fab fa-twitter text-blue-500 text-3xl hover:text-blue-700"></a>
                    <a href="#" class="fab fa-facebook text-blue-700 text-3xl hover:text-blue-900"></a>
                    <a href="#" class="fab fa-instagram text-pink-500 text-3xl hover:text-pink-700"></a>
                    <a href="#" class="fab fa-linkedin text-blue-500 text-3xl hover:text-blue-700"></a>
                </div>
            </div>
            <div class="p-10 bg-white rounded-3xl text-lg grid gap-4 custom-transform">
                <div class="flex items-start space-x-4">
                    <i class="fa-solid fa-map-location-dot text-green-500 text-2xl"></i>
                    <div>
                        <a class="hover:text-title"
                            href="https://www.google.com/maps/place/UNEMI+-+Universidad+Estatal+de+Milagro/@-2.149223,-79.60552,17z/data=!3m1!4b1!4m6!3m5!1s0x902d465523c50e37:0x70a5136e6272715f!8m2!3d-2.149223!4d-79.6029451!16s%2Fg%2F1tt1j8j4?entry=ttu"
                            target="_blank">
                            Universidad Estatal de Milagro (UNEMI) <br>
                            Ecuador, Guayas, Milagro <br>
                            Av. 17 de Septiembre
                        </a>
                    </div>
                </div>
                <div class="flex items-start space-x-4 ">
                    <i class="ri-mail-send-line text-blue-500 text-2xl"></i>
                    <div>
                        <a class="hover:text-title" href="mailto:snietod@unemi.edu.ec"
                            target="_blank">snietod@unemi.edu.ec</a>
                    </div>
                </div>
                <div class="flex items-start space-x-4">
                    <i class="ri-mail-send-line text-blue-500 text-2xl"></i>
                    <div>
                        <a class="hover:text-title" href="mailto:jharos@unemi.edu.ec"
                            target="_blank">jharos@unemi.edu.ec</a>
                    </div>
                </div>
                <div class="flex items-start space-x-4">
                    <i class="fa-solid fa-phone-volume text-green-700 text-2xl"></i>
                    <div>
                        <a class="hover:text-title" href="https://wa.me/593997932650" target="_blank">+593
                            997 932 650</a>
                    </div>
                </div>
                <div class="flex items-start space-x-4">
                    <i class="fa-solid fa-phone-volume text-green-700 text-2xl"></i>
                    <div>
                        <a class="hover:text-title" href="https://wa.me/593963919421" target="_blank">+593
                            963 919 421</a>
                    </div>
                </div>
            </div>
            <div class="  px-6 py-10 bg-white rounded-3xl shadow-lg max-w-lg custom-transform">
                <form id="contact-form" action="https://formspree.io/f/myyrwqgz" method="post" role="form"
                    class="space-y-6">
                    <div>
                        <input type="text" name="name"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-title focus:border-transparent"
                            id="name" placeholder="Nombre" required>
                    </div>
                    <div>
                        <input type="email"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-title focus:border-transparent"
                            name="email" id="email" placeholder="Email" required>
                    </div>
                    <div>
                        <input type="text"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-title focus:border-transparent"
                            name="subject" id="subject" placeholder="Asunto" required>
                    </div>
                    <div>
                        <textarea
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-title focus:border-transparent"
                            name="message" rows="5" placeholder="Mensaje" required></textarea>
                    </div>
                    <div id="success-message" class="hidden my-3 bg-green-300 p-4 rounded-3xl">
                        <!-- <div class="loading">Loading</div> -->
                        <!-- <div class="error-message"></div> -->
                        <div class="text-title2 text-center">
                            <i class="fa-solid fa-envelope-circle-check"></i> <i
                                class="fa-solid fa-face-smile-wink"></i><br>
                            Su mensaje ha sido enviado.<br>
                            <span class=" font-semibold">¡Gracias!</span>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn-dark-blue w-full py-3">Enviar Mensaje</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="{% static 'js/sweet_alert.js' %}"></script>

<!-- Script para el modal -->
<script>
    $(document).ready(function () {
        // Función para ocultar el modal al hacer clic en cualquier botón de ingresar
        $('#btnCliente, #btnAdministrador, #btnModoInvitado').click(function (e) {
            e.preventDefault(); // Evita que el enlace se siga
            $('.modal-overlay').hide(); // Oculta el modal

            // Comportamiento específico para el botón de "Modo Invitado"
            if (this.id === 'btnModoInvitado') {
                Swal.fire({
                    icon: 'warning',
                    title: '<h2 class="dark-title">ADVERTENCIA</h2>',
                    text: 'Para usar las funciones de nuestra aplicación, debe registrarse en nuestro sistema.',
                    showCancelButton: true,
                    confirmButtonText: 'Registrarse',
                    cancelButtonText: 'Continuar con el modo invitado',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Redirecciona a la página de registro
                        window.location.href = "{% url 'signup' %}";
                    }
                });
            } else {
                // Redirecciona a la URL especificada en el enlace
                window.location.href = $(this).attr('href');
            }
        });
    });
</script>

<!-- Script para el carrusel de imágenes -->
<script>
    var imagePaths = [
        "{% static 'img/home-carausel/carausel-1.jfif' %}",
        "{% static 'img/home-carausel/carausel-2.jfif' %}",
        "{% static 'img/home-carausel/carausel-3.jfif' %}",
        "{% static 'img/home-carausel/carausel-4.jfif' %}",
        "{% static 'img/home-carausel/carausel-5.jfif' %}",
        "{% static 'img/home-carausel/carausel-6.jfif' %}",
        "{% static 'img/home-carausel/carausel-7.jfif' %}",
        "{% static 'img/home-carausel/carausel-8.jfif' %}",
    ];

    var carouselInner = document.getElementById('carousel-inner');
    var currentSlide = 0;
    var totalSlides = imagePaths.length;

    function showSlide(index) {
        carouselInner.style.transform = `translateX(-${index * 100}%)`;
    }

    function nextSlide() {
        currentSlide = (currentSlide + 1) % totalSlides;
        showSlide(currentSlide);
    }

    window.onload = function () {
        imagePaths.forEach((path) => {
            carouselInner.innerHTML += `<img src="${path}" alt="Carousel Image" class="w-full">`;
        });
        setInterval(nextSlide, 5000); // Cambiar a la siguiente imagen cada 5 segundos
    };
</script>

<!-- Script para enviar correos -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById('contact-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevenir el comportamiento predeterminado del formulario

            var formData = new FormData(form);

            fetch(form.action, {
                method: form.method,
                body: formData,
                headers: {
                    'Accept': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    document.getElementById('success-message').classList.remove('hidden');
                    form.reset(); // Resetear el formulario

                    // Ocultar el mensaje de éxito después de 5 segundos
                    setTimeout(() => {
                        document.getElementById('success-message').classList.add('hidden');
                    }, 5000);
                } else {
                    response.json().then(data => {
                        if (Object.hasOwn(data, 'errors')) {
                            alert(data["errors"].map(error => error["message"]).join(", "));
                        } else {
                            alert('Oops! Hubo un problema al enviar tu formulario');
                        }
                    });
                }
            }).catch(error => {
                alert('Oops! Hubo un problema al enviar tu formulario');
            });
        });
    });
</script>
{% endblock content %}