{% extends 'base.html' %}
{% load static %}
<title>{% block title %} SGV - Home {% endblock title %}</title>
{% block content %}

<section class="mt-4" data-aos="fade-up" data-aos-delay="200">
    <div class="text-center">
        <div class="">
            <!-- Mensaje de bienvenida -->
            <div class="">
                <h1 class="dark:text-white text-4xl text-center mt-6 font-black uppercase">
                    Perfil de Usuario
                </h1>
                <p class="mb-4 text-center" data-aos="fade-up" data-aos-delay="300">Consulta la información de tu perfil.</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mx-20" data-aos="fade">
                <!-- Columna de la izquierda -->
                <div class="bg-white rounded-3xl flex flex-col justify-center items-center" data-aos="fade-right" data-aos-delay="200">
                    <div class="w-[45%] text-center">
                        <h2 class="dark:text-white text-2xl text-center mt-6 font-black uppercase">Foto de Perfil</h2>
                        {% if user.get_profile_picture_url %}
                        <img src="{{ user.get_profile_picture_url }}" class="mx-auto d-block rounded-lg" alt="Foto de perfil">
                        {% else %}
                        <img src="{% static 'img/default_person.png' %}" class="mx-auto d-block rounded-lg" alt="Foto de perfil por defecto">
                        {% endif %}
                    </div>
                    <div class="text-center w-auto m-4">
                        <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-2 flex items-center justify-center" href="{% url 'update_profile' %}">
                            <i class="fa-solid fa-file-pen mr-2"></i> Actualizar Datos
                        </a>
                    </div>
                </div>
                <!-- Columna de la derecha -->
                <div class="p-4 rounded-3xl bg-white flex flex-col justify-center items-center" data-aos="fade-right" data-aos-delay="200">
                    <form id="register-form" method="POST" enctype="multipart/form-data" onsubmit="validarRegistro(event)">
                        {% csrf_token %}
                        {{error}}
                        <!-- Datos de Usuario -->
                        <div class="grid grid-cols-1 gap-4">
                            <div>
                                <p class="text-gray-700"><span class="font-bold text-2xl uppercase">Usuario:</span><br> @{{ user.username }}
                                    {% if user.is_superuser %}
                                    <span class="font-bold text-2xl uppercase text-green-500"> | Administrador</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div>
                                <p class="text-gray-700"><span class="font-bold text-2xl uppercase">Nombres:</span><br> {{ user.first_name }} {{user.last_name }}</p>
                            </div>
                            <div>
                                <p class="text-gray-700"><span class="font-bold text-2xl uppercase">Cédula:</span><br> {{ user.dni }}</p>
                            </div>
                            <div>
                                {% if user.celular %}
                                <p class="text-gray-700"><span class="font-bold text-2xl uppercase">Celular:</span><br> {{ user.celular }}</p>
                                {% else %}
                                <p class="text-gray-700"><span class="font-bold text-2xl uppercase">Celular:</span><br> No Registrado</p>
                                {% endif %}
                            </div>
                            <div>
                                {% if user.correo %}
                                <p class="text-gray-700"><span class="font-bold text-2xl uppercase">Correo:</span><br> <a href="mailto:{{ user.correo }}">{{ user.correo }}</a></p>
                                {% else %}
                                <p class="text-gray-700"><span class="font-bold text-2xl uppercase">Correo:</span><br> No Registrado</p>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <div class="text-center mt-10 w-10">
                        <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full flex items-center justify-center" href="{% url 'home' %}">
                            <i class="fa-solid fa-house"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>


{% endblock content %}