{% extends 'base.html' %}
{% load static %}
{% block content %}
  <title>
    {% block title %}
      SGV - Registrarse
    {% endblock %}
  </title>
  <div class="bg-gray-100 p-8 relative">

  <div class="absolute inset-0 bg-cover blur-[106px]" style="background-image: url('{% static 'img/fondo.png' %}')"></div>

  <section id="home-signup" class="mt-4" data-aos="fade-up" data-aos-delay="200">
    <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="200">
      <div class="welcome-message text-center">
        <h2 class="title">{{ title2 }}</h2>
        <p>
          ¡Únete a nuestra comunidad!<br />Regístrate para acceder a nuestros servicios.
        </p><br />
        <img src="{% static 'img/register/signup.jfif' %}" class="block mx-auto rounded-full" alt="Signin" style="width: 330px;" />
      </div>
    </div>

    <div class="flex justify-center items-center">
      <div id="form-signup" class="form-container-login">
        <form id="register-form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Datos de Usuario -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <div class="mb-5">
                <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.username.label }}</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id="id_username" name="username" />
              </div>
              <div class="mb-5">
                <label for="{{ form.first_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.first_name.label }}</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id="id_first_name" name="first_name" />
              </div>
            </div>
            <div>
              <div class="mb-5">
                <label for="{{ form.dni.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.dni.label }}</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id="id_dni" name="dni" />
              </div>
              <div class="mb-5">
                <label for="{{ form.last_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.last_name.label }}</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id="id_last_name" name="last_name" />
              </div>
            </div>
          </div>
          <!-- Información Adicional -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <div class="mb-5">
                <label for="{{ form.celular.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.celular.label }}</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id="id_celular" name="celular" />
              </div>
            </div>
            <div>
              <div class="mb-5">
                <label for="{{ form.correo.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.correo.label }}</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id="id_correo" name="correo" />
              </div>
            </div>
          </div>
          <!-- Contraseña -->
          <div class="grid grid-cols-1">
            <div class="col-md-6 passwords">
              <div class="flex justify-center">
                <div>
                  <div class="mb-5">
                    <label for="{{ form.password1.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.password1.label }}</label>
                    <input type="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id="id_password1" name="password1" />
                  </div>
                  <div class="mb-5">
                    <label for="{{ form.password2.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.password2.label }}</label>
                    <input type="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id="id_password2" name="password2" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-details btn-block mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit"><i class="fa-solid fa-user-plus"></i> Registrarse</button>
<br><br>
            <a class="btn btn-details btn-block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="{% url 'home' %}"><i class="fas fa-arrow-left"></i> Volver</a>
          </div>
        </form>
      </div>
    </div>
    <p class="text-center mt-3">
      ¿Ya tienes una cuenta? <a href="{% url 'signin' %}" class="text-blue-600 hover:underline dark:text-blue-500">Inicia Sesión</a>
    </p>
  </div>
  <hr>
  </section>

  <script>
    document.querySelectorAll('.toggle-password').forEach(function (btn) {
      btn.addEventListener('click', function () {
        var targetId = this.getAttribute('data-target')
        var passwordInput = document.getElementById(targetId)
        var icon = this.querySelector('i')
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text'
          icon.classList.remove('fa-eye')
          icon.classList.add('fa-eye-slash')
        } else {
          passwordInput.type = 'password'
          icon.classList.remove('fa-eye-slash')
          icon.classList.add('fa-eye')
        }
      })
    })
  </script>
{% endblock %}

{% block navbar %}

{% endblock %}


