{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %} SGV - Crear Marca {% endblock title %}</title>

<section class="dark:bg-slate-900 mt-10 flex justify-center items-center px-4 lg:px-0">
    <div class="text-center w-full lg:w-8/12" data-aos="fade-up" data-aos-delay="200">
        <div class="flex justify-center">
            <div class="w-full">
                <div class="mb-4"><br>
                    <h1 class="dark:text-white text-4xl text-center mt-6 font-black uppercase">
                        {{ title2 }}
                    </h1>
                    <p class="mt-2">Complete el formulario para registrar una nueva marca en el sistema.</p>
                </div>
            </div>
        </div>
        <div class="mx-4 lg:mx-24 dark:bg-black bg-white p-8 rounded-3xl">
            <form method="post" enctype="multipart/form-data" class="space-y-6">
                {% csrf_token %}
                {% for field in form %}
                <div class="flex flex-col justify-center items-center">
                    <label class="dark:text-white mt-6 font-black uppercase text-lg" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <div class="flex justify-center">
                    <button type="submit" class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-2 flex items-center">
                        <i class="fa-solid fa-save mr-2"></i>Guardar
                    </button>
                    <a class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full flex items-center" href="{% url 'core:brand_list' %}">
                        <i class="fa-solid fa-xmark mr-2"></i>Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock content %}
