{% extends 'base.html' %}
{% block content %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
<section class="dark:bg-principal mt-20">
    <div class="text-center" data-aos="fade-up" data-aos-delay="200">
        <div class="sm:pt-28 lg:pt-24">
            <div class="flex flex-col items-center justify-center">
                <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
                    {{ title1}}
                </span>
            </div>
            <h1 class="dark:text-white text-4xl text-center mt-6 font-Pacifico">
                {{ title2 }}
            </h1>
            <p class="dark:text-gray-400 text-center mt-6 text-lg font-light">
                Gestione las marcas de sus productos.<br><br>
            </p>
        </div>
        
        
        <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            {% for item in brands %}
            <div class="backdrop-blur-md mb-4 flex justify-center custom-transform relative">
                <div class="dark:bg-secundario relative w-full overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md dark:border-none">
                    <div class="dark:bg-secundario text-center card card-custom">
                        <figure class="px-10 pt-10">
                            <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Brand Image" class="rounded-xl w-full">
                        </figure>
                        <h1 class="dark:text-blue-400 text-2xl text-center mt-6 font-black uppercase font-Tiny5">
                            {{ item.description }}
                        </h1>
                        <div class="dark:bg-contenedores p-4 card-body flex flex-col justify-center items-center">
                            <h3 class="dark:text-blue-300 font-Pacifico">Creación: <span class="font-light font-Quicksand dark:text-gray-400">{{ item.created | date:"Y-m-d" }}</span></h3>
                            <h3 class="dark:text-blue-300 font-Pacifico">Última edición: <span class="font-light font-Quicksand dark:text-gray-400">{{ item.updated | date:"Y-m-d" }}</span></h3>
                            <h3 class="dark:text-blue-300 font-Pacifico">
                                Estado: 
                                {% if item.state %}
                                <i class="fa-solid fa-check text-green-500"></i>
                                {% else %}
                                <i class="fa-solid fa-square-minus text-red-500"></i>
                                {% endif %}
                            </h3>
                        </div>
                        <div class="dark:bg-contenedores card-footer flex flex-col md:flex-row justify-center items-center">
                            <a href="{% url 'core:brand_update' item.id %}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-full mr-0 md:mr-2 mb-2 md:mb-0 flex items-center transition-colors duration-300">
                                <i class="fa-solid fa-gear mr-2"></i> Editar
                            </a>
                            <button class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-full flex items-center transition-colors duration-300" onclick="openDeleteModal('{{ item.id }}', '{{ item.description }}')">
                                <i class="fa-solid fa-trash mr-2"></i> Eliminar
                            </button>
                            <noscript>
                                <a href="{% url 'core:brand_delete' item.id %}" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-full flex items-center transition-colors duration-300">
                                    <i class="fa-solid fa-trash mr-2"></i> Eliminar
                                </a>
                            </noscript>
                        </div>
                    </div>
                    <span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-300 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
                    <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-blue-400 blur-xl opacity-80"></span>
                </div>
            </div>
            {% endfor %}
        </div>
        
        
        
        
        <div class="flex flex-col md:flex-row justify-center form-group text-center p-4">
            <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-0 md:mr-2 mb-2 md:mb-0 flex items-center justify-center" href="{% url 'core:brand_create' %}">
                <i class="fa-solid fa-plus mr-2"></i> Nueva Marca
            </a>
            <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full flex items-center justify-center" href="{% url 'home' %}">
                <i class="fa-solid fa-house"></i>
            </a>
        </div>
    </div>
</section>

{% include 'core/delete.html' %}
<script>
    function openDeleteModal(id, description) {
        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = `{% url 'core:brand_delete' 0 %}`.replace('0', id);
        document.getElementById('Description').textContent = `ID: ${id} - ${description}`;
        document.getElementById('deleteModal').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('deleteModal').classList.add('hidden');
    }
</script>
{% endblock %}

